<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @housework_type.name %>
</p>

<%= link_to 'Edit', edit_housework_type_path(@housework_type) %> |
<%= link_to 'Back', housework_types_path %>
